<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Timelapse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.timelapse.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getRecordsServlet</servlet-name>
    <servlet-class>com.timelapse.controller.GetRecordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getRecordsServlet</servlet-name>
    <url-pattern>/getRecordsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getHonorServlet</servlet-name>
    <servlet-class>com.timelapse.controller.GetHonorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getHonorServlet</servlet-name>
    <url-pattern>/getHonorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getSomedayGoalServlet</servlet-name>
    <servlet-class>com.timelapse.controller.GetSomedayGoalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSomedayGoalServlet</servlet-name>
    <url-pattern>/getSomedayGoalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifySignatureServlet</servlet-name>
    <servlet-class>com.timelapse.controller.ModifySignatureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifySignatureServlet</servlet-name>
    <url-pattern>/modifySignatureServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>modifyUserNameServlet</servlet-name>
    <servlet-class>com.timelapse.controller.ModifyUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyUserNameServlet</servlet-name>
    <url-pattern>/modifyUserNameServlet</url-pattern>
  </servlet-mapping>
</web-app>